*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:sans-serif;

}

body{

background:#111;

color:white;

padding:20px;

direction:rtl;

min-height:100dvh;

}

/* CONTAINER */

.admin-container{

max-width:1000px;

margin:auto;

}

/* TITLE */

h1{

text-align:center;

color:#ffd700;

margin-bottom:25px;

font-size:38px;

}

/* BOX */

.admin-box{

background:#1b1b1b;

padding:20px;

border-radius:20px;

margin-bottom:20px;

box-shadow:
0 0 10px rgba(0,0,0,0.4);

}

/* SUB TITLE */

.admin-box h2{

margin-bottom:18px;

color:#00d0ff;

font-size:24px;

}

/* INPUT */

input{

width:100%;

padding:15px;

border:none;

border-radius:14px;

background:#262626;

color:white;

font-size:17px;

outline:none;

margin-top:10px;

}

/* BUTTON */

button{

padding:13px 18px;

border:none;

border-radius:14px;

background:#ffd700;

color:black;

font-size:16px;

font-weight:bold;

cursor:pointer;

margin-top:12px;

transition:0.2s;

}

button:hover{

transform:scale(1.03);

opacity:0.9;

}

/* SETTINGS BUTTONS */

.settings-buttons{

display:flex;

flex-wrap:wrap;

gap:12px;

}

/* USER CARD */

.user-card{

background:#262626;

padding:15px;

border-radius:14px;

margin-top:12px;

line-height:1.8;

word-break:break-word;

}

/* USER BUTTONS */

.user-card button{

margin-left:8px;

margin-top:10px;

}

/* ONLINE */

#onlineUsers{

display:flex;

flex-direction:column;

gap:10px;

}

/* BANNED */

#bannedUsers{

display:flex;

flex-direction:column;

gap:10px;

}

/* ADMINS */

#adminsList{

display:flex;

flex-direction:column;

gap:10px;

}

/* SERVER INFO */

#serverInfo{

background:#262626;

padding:15px;

border-radius:14px;

font-size:18px;

line-height:1.8;

}

/* SCROLL */

::-webkit-scrollbar{

width:6px;

}

::-webkit-scrollbar-thumb{

background:#444;

border-radius:20px;

}

/* MOBILE */

@media(max-width:700px){

body{

padding:12px;

}

h1{

font-size:30px;

}

.admin-box{

padding:16px;

}

.admin-box h2{

font-size:21px;

}

button{

width:100%;

}

.settings-buttons{

flex-direction:column;

}

}
