*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html,
body{

    width:100%;

    height:100%;

    overflow:hidden;

}

body{

    background:#000;

    color:#fff;

    font-family:tahoma;

}

/* LOGIN */

.login-screen{

    width:100%;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#000;

}

.login-box{

    width:90%;

    background:#111;

    padding:20px;

    border-radius:20px;

    border:2px solid #333;

}

.login-box h2{

    text-align:center;

    margin-bottom:20px;

    color:gold;

    font-size:34px;

}

.login-box input{

    width:100%;

    height:55px;

    margin-bottom:15px;

    border:none;

    border-radius:15px;

    padding:10px;

    font-size:18px;

    background:#1a1a1a;

    color:white;

}

.login-box button{

    width:100%;

    height:55px;

    border:none;

    border-radius:15px;

    background:#00d0b4;

    color:white;

    font-size:20px;

    font-weight:bold;

}

/* CHAT */

.chat-app{

    width:100%;

    height:100vh;

    display:flex;

    flex-direction:column;

    overflow:hidden;

}

/* TOP BAR */

.top-bar{

    width:100%;

    min-height:70px;

    background:#000;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 15px;

    border-bottom:2px solid #222;

    position:relative;

    z-index:9999;

}

.room-name{

    color:red;

    font-size:28px;

    font-weight:bold;

}

/* MESSAGES */

.messages{

    flex:1;

    overflow-y:auto;

    padding:15px;

    padding-bottom:120px;

    position:relative;

    z-index:1;

}

/* NOTICE */

.notice-box{

    width:100%;

    border:3px solid gold;

    border-radius:15px;

    padding:12px;

    text-align:center;

    margin-bottom:20px;

    color:white;

    background:#111;

    font-size:18px;

    line-height:1.8;

}

/* MESSAGE */

.msg-line{

    font-size:22px;

    margin-bottom:15px;

    font-weight:bold;

    line-height:1.8;

    text-align:left;

    direction:ltr;

    word-break:break-word;

}

.msg-name{

    display:inline-block;

    margin-left:5px;

}

/* INPUT */

.chat-input{

    width:100%;

    padding:10px;

    background:#000;

    border-top:2px solid #222;

    display:flex;

    align-items:center;

    position:fixed;

    bottom:0;

    left:0;

    z-index:9999;

}

.chat-input input{

    flex:1;

    height:60px;

    border:5px solid orange;

    border-radius:22px;

    background:white;

    color:black;

    padding:10px;

    font-size:20px;

}

.chat-input button{

    width:70px;

    height:60px;

    margin-right:10px;

    border:none;

    background:transparent;

    color:gold;

    font-size:42px;

    cursor:pointer;

}

/* POPUPS */

.popup-bg{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:rgba(0,0,0,.7);

    display:none;

    justify-content:center;

    align-items:center;

    z-index:99999;

}

.popup-box{

    width:95%;

    max-width:450px;

    background:#000;

    border-radius:20px;

    border:3px solid gold;

    padding:15px;

    max-height:80vh;

    overflow:auto;

}

/* ONLINE USERS */

.online-user{

    padding:15px;

    border-bottom:1px solid #222;

    font-size:24px;

    font-weight:bold;

    color:white;

    background:#111;

    transition:.2s;

    cursor:pointer;

}

.online-user:hover{

    background:#1f1f1f;

    color:gold;

}

/* PRIVATE */

.private-message{

    padding:12px;

    margin-bottom:12px;

    background:#1b1b1b;

    border-radius:15px;

    font-size:22px;

    line-height:1.7;

}

/* USER INFO */

#userInfoContent{

    font-size:22px;

    line-height:2;

}
